:root {
  --plusminus: 1.5rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label + .faq-answer {
  max-height: 100px; /* Adjust based on your content size */
}

.plusminus {
  display: block;
  position: relative;
  /*Change to resize the plusminus box*/
  width: 2rem;
  height: 2rem;
}

/* Common styles for both spans */
.plusminus span {
  display: block;
  position: absolute;
  background: #f2f2f2;
  transition: all 0.25s ease; /* Unified transition */
}

/* Styles for the first span */
.plusminus span:nth-child(1) {
  margin: 0 10%;
  width: 66.6%;
  height: 0.125rem;
  top: calc(50% - 3.5px);
}

/* Styles for the second span */
.plusminus span:nth-child(2) {
  margin: 10% 0;
  width: 0.125rem;
  height: 66.6%;
  left: calc(50% - 3.5px);
}

.plusminus:hover span {
  background: var(--green);
}

/*Everything after this is just for presentation*/

label {
  cursor: pointer;
}
