.hidden, .hidden-down, .hidden-up, .hidden-left {
  opacity: 0;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-property: opacity, transform;
}

/* Common transform rules based on direction */
.hidden {
  transform: translateX(-30%);
}

.hidden-down {
  transform: translateY(-100%);
}

.hidden-up {
  transform: translateY(100%);
}

.hidden-left {
  transform: translateX(30%);
}

/* Common show class */
.show {
  opacity: 1;
  transform: translate(0, 0); /* Reset transform for all directions */
}

