html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("font/space-grotesk-400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("font/space-grotesk-600.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("font/space-grotesk-700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("font/space-mono-400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("font/space-mono-700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("font/manrope-400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("font/manrope-600.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Mango Grotesque";
  src: url("font/MangoGrotesque-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mango Grotesque";
  src: url("font/MangoGrotesque-ExtraLight.woff2") format("woff2");
  font-display: swap;
  font-weight: 200; /* Adjust weight according to your design */
  font-style: normal;
}

@font-face {
  font-family: "Mango Grotesque";
  src: url("font/MangoGrotesque-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mango Grotesque";
  src: url("font/MangoGrotesque-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 600; /* Adjust weight according to your design */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black, #000);
  justify-items: center;
  width: 100%;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: var(--body-inline-padding);
  // max-width: 90rem;
}

/*SPECIFIC*/

header {
  width: 100%;
  // position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;

  backdrop-filter: blur(4rem);
  -webkit-backdrop-filter: blur(4rem); /* For Safari support */
}

.header-container {
  display: flex;
  padding-block: 1rem;
  padding-inline: var(--body-inline-padding);
  justify-content: space-between;
  justify-self: center;
  align-self: stretch;
  overflow: hidden;
  width: 100%;
  // max-width: 90rem;
}

.header-container,
.main-container {
  margin-left: auto;
  margin-right: auto;
}

section {
  display: flex;
  padding-block: var(--section-block-padding);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
  align-self: stretch;
  overflow: hidden;

  border-bottom: 1px solid var(--grey-850, #262626);
  background: var(--black, #000);
}

footer {
  display: flex;
  padding-block: 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  align-self: stretch;
}

:root {
  --h1-size: clamp(4.5rem, 0.25rem + 17vw, 13rem);
  --h1-height: clamp(3rem, 0rem + 12vw, 9rem);
  --h2-size: clamp(3rem, 0.5rem + 10vw, 8rem);
  --h3-size: clamp(2.5rem, 1.75rem + 3vw, 4rem);
  --h4-size: clamp(1.125rem, 0.6875rem + 1.75vw, 2rem);
  --green-box-padding: clamp(0.25rem, 0.125rem + 0.5vw, 0.5rem);
  --quote-font-size: clamp(3.25rem, 1.375rem + 7.5vw, 7rem);
  --email-font-size: clamp(2.5rem, 1.75rem + 3vw, 4rem);
  --hero-image-size: clamp(5rem, 25vw, 22.5rem);
  --body-inline-padding: clamp(1rem, -1.625rem + 10.5vw, 6.25rem);
  --section-block-padding: clamp(2rem, -2rem + 16vw, 10rem);
  --figma: #1abcfe;
  --dribbble: #ff5395;
  --green: #00ff1a;
  --grey-150: #d9d9d9;
  --grey-250: #bfbfbf;
  --grey-500: #808080;
  --grey-800: #333333;
  --grey-850: #262626;
  --grey-960: #0a0a0a;
  --bg: #0e0e0e;
  --black: #000000;
  --blue: #000aff;
  --cyan: #00fff0;
  --dark: #131417;
  --white: #f5f5f5;
  --pink: #fa00ff;
  --primary: #4cda35;
  --primary-25: rgba(76, 218, 53, 0.25); /* Kept rgba due to opacity */
  --project-1: #00fff0;
  --project-2: #14f195;
  --project-3: #7badea;
  --project-4: #e4a149;
  --project-5: #ffecb8;
  --purple: #9e00ff;
  --red: #ff0000;
  --yellow: #faff00;
  --orange: #ffa800;
}

h1 {
  color: var(--white, #f5f5f5);
  font-family: "Mango Grotesque";
  font-size: var(--h1-size);
  font-style: normal;
  font-weight: 800;
  line-height: var(--h1-height);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.typewriter span {
  line-height: var(--h1-size);
}

.caret {
  display: inline-block;
  width: 0.25rem;
  height: var(--h1-height);
  background-color: var(--primary, #4cda35);
  animation: blink 0.7s step-end infinite;
  margin-left: -0.75rem;
}

#typewriter {
  white-space: nowrap;
  overflow: hidden;
  width: 62vw;
  width: min(62vw, 55rem);
}

h2 {
  color: var(--white, #f5f5f5);
  font-family: "Mango Grotesque";
  font-size: var(--h2-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--h2-size); /* 100% */
  text-transform: uppercase;
}

h3 {
  /* h3 */
  color: var(--white, #f5f5f5);
  font-family: "Mango Grotesque";
  font-size: var(--h3-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--h3-size); /* 100% */
  letter-spacing: 2.5px;
}

/* h4 {
  color: var(--white, #f5f5f5);

  font-family: "Space Mono";
  font-size: var(--h4-size);
  line-height: var(--h4-size);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1.6px;
} */

h5 {
  color: var(--white, #f5f5f5);

  /* h5 */
  font-family: "Space Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  white-space: nowrap;
}

h6 {
  color: var(--white, #f5f5f5);

  /* h6 */
  font-family: "Space Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
}

p {
  color: var(--grey-500, #808080);
  font-family: "Space Grotesk";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
}

button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  overflow: hidden; /* Prevent overflow of pseudo-element */

  cursor: pointer;
  border-radius: 100px;
}

.logo p {
  font-family: "Manrope";
  font-style: normal;
}

.logo-top {
  color: var(--white, #f5f5f5);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.logo-down {
  font-size: 1.15rem;
  font-weight: 200;
  line-height: 1.5rem;
  color: var(--grey-250);
}

/*----------------------------------TYPEWRITER EFFECTS*/

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/*----------------------------------HEADER BUTTON AND HOVER*/

.bt-secondary,
.bt-primary {
  position: relative;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 100px;

  /* p-sm-mono */
  font-family: "Space Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  p,
  svg {
    position: relative; /* To ensure text is above the pseudo-element */
    z-index: 2; /* Ensure text appears above pseudo-element */
    transition: color 0.3s ease; /* Transition for text color */
  }
  svg {
    path {
      transition: fill 0.3s ease; /* Transition for SVG fill */
    }
  }
  &::before {
    content: ""; /* Required for pseudo-element */
    position: absolute; /* Position it absolutely within the button */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width of the button */
    height: 100%; /* Full height of the button */
    transform: translateX(-100%); /* Start fully off-screen to the left */
    transition: transform 0.5s ease; /* Animate the transform property */
    z-index: 1; /* Ensure it appears above the button */
  }
  &:hover {
    &::before {
      transform: translateX(0); // Slide the pseudo-element in from the left
    }
  }
}

.bt-primary {
  border: 1px solid var(--white, #f5f5f5);
  p,
  svg {
    color: var(--black, #000);
  }
  svg {
    path {
      fill: var(--black, #000); /* Initial fill color for SVG */
    }
  }
  &::before {
    background: var(--black, #000);
  }
  &:hover {
    border: 1px solid var(--primary, #4cda35);
    p {
      color: var(--primary, #4cda35); /* Change text color to black */
    }
    svg {
      path {
        fill: var(--primary, #4cda35); /* Initial fill color for SVG */
      }
    }
  }
}

.bt-secondary {
  border: 1px solid var(--white, #f5f5f5);
  background: var(--black, #000);
  p,
  svg {
    color: var(--white, #f5f5f5);
  }
  &::before {
    background: var(--white, #f5f5f5);
  }
  &:hover {
    p {
      color: var(--black, #000); /* Change text color to black */
    }
    svg {
      path {
        fill: var(--black, #000); /* Initial fill color for SVG */
      }
    }
  }
}

.social .bt-secondary {
  flex: 0 1 auto;
  padding: 4px 16px 4px 4px;
  gap: 8px;
  align-self: center;
}

// #figma-bt::before {
//   background: var(--figma);
// }

// #dribbble-bt::before {
//   background: var(--dribbble);
// }

// #figma-bt:hover {
//   border: var(--figma);
// }

// #dribbble-bt:hover {
//   border: var(--dribbble);
// }

.header-container .bt-secondary {
  position: relative; /* Position relative to position pseudo-element */
  padding: 4px 4px 4px 20px;
  border: 1px solid var(--white, #f5f5f5);
  background: var(--black, #000);
  flex: 0 1 auto;
}

.bt-social p {
  color: var(--white, #f5f5f5);

  /* p-sm-mono */
  font-family: "Space Mono";
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

#contact-me-button {
  background-color: transparent;
}

/*HERO*/

.section-hero {
  display: flex;
  flex-direction: row;
  padding-top: clamp(1.5rem, -0.25rem + 7vw, 5rem);
  align-items: center;
  align-self: flex-start;
  border-bottom: 1px solid var(--grey-850, #262626);
  img {
    border-radius: 1000px;
    width: 100%;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(1rem, 5vw, 3rem);
    flex-shrink: 1;
    flex-basis: auto;
    .title-sub {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  #hero-image-container {
    max-width: 400px;
  }
}

.green-box h5,
.green-box p {
  color: var(--primary, #4cda35);
}

.green-box {
  display: flex;
  padding: var(--green-box-padding);
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;

  border-radius: 4px;
  background: var(--primary-25, rgba(76, 218, 53, 0.25));
}

/*QUOTE*/

$colors: (
  green: #00ff1a,
  pink: #fa00ff,
  blue: #000aff,
  red: #f00,
  yellow: #faff00,
  cyan: #00fff0,
  orange: #ffa800,
  purple: #9e00ff,
);

@each $name, $color in $colors {
  .#{$name} {
    border-bottom-color: var(--#{$name}, #{$color});
    &::after {
      background-color: var(--#{$name}, #{$color});
    }
  }
}

.custom-underline {
  position: relative;
  display: inline-block; /* Ensures the element width matches the text */
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* Distance from text */
  width: 100%;
  height: 6px; /* Custom underline thickness */
}

.section-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  border-bottom: 1px solid var(--grey-850, #262626);
  background: var(--black, #000);

  color: var(--grey-850, #808080);
  text-align: center;
  font-family: "Mango Grotesque";
  font-size: var(--quote-font-size);
  line-height: var(--quote-font-size);
  font-weight: 500;
  ul {
    display: flex;
    justify-content: center;
    gap: 0.5rem 1rem;
    gap: clamp(0.375rem, 1vw, 0.5rem) clamp(0.375rem, 2vw, 1rem);
    gap: 0.5rem clamp(0.375rem, 2vw, 1rem);
    flex-wrap: wrap;
  }
  li,
  .who-says {
    list-style-type: none;
  }
  // span {
  //   color: var(--grey-150, #d9d9d9);
  // }
  .container {
    max-width: 1080px;
    align-self: center;
  }
}
.container-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
/*FEATURED PROJECTS*/
.section-projects {
  .section-projects-content {
    background-color: var(--black, #000);

    display: flex;
    flex-direction: column;
    gap: 8rem;
    .container-project {
      background-color: var(--black, #000);
      display: flex;
      // display: grid;
      // grid-template-columns: 2fr 3fr;
      gap: 2.5rem;
      .project-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: center;
        gap: 2.5rem;
        max-width: 400px;
        .project-description {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.5rem;
          p {
            color: var(--grey-500, #808080);
          }
          .title {
            display: flex;
            padding-left: 0.75rem;
            justify-content: center;
          }
        }
      }
      .img-project {
        display: flex;
        padding: 2rem 1.25rem;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        align-items: stretch;
        flex: 1 0 0;

        border-radius: 1.5rem;
        border: 1px solid var(--grey-850, #262626);
        background: var(--grey-960, #0a0a0a);
        img {
          width: 100%;
          flex-shrink: 0;
          border-radius: 1.5rem;
        }
      }
    }
  }
}

#excon-video {
  border-radius: 1.5rem;
  object-fit: cover;

  width: 100%;
  // height: 100%;
}

// Define a map for project colors
$project-colors: (
  excon: #dd5226,
  1: #00fff0,
  2: #14f195,
  3: #7badea,
  4: #e4a149,
  5: #ffecb8,
);

@each $number, $color in $project-colors {
  #project-#{$number} .title {
    border-left: 4px solid var(--project-#{$number}, #{$color});
  }
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  .container .bold {
    color: var(--white, #f5f5f5);
    font-weight: 700;
  }
  p {
    color: var(--white, #f5f5f5);
    font-family: "Space Mono";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
  }
  .container p {
    color: var(--grey-250, #bfbfbf);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.p-info {
  display: flex;
  padding: 16px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-bottom: 1px solid var(--grey-800, #333);
}

.b-top {
  border-top: 1px solid var(--grey-800, #333);
}

.upper {
  text-transform: uppercase;
}

.bt-links {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  margin-top: 1rem;
}

.p-sm-mono {
  font-family: "Space Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: var(--white, #f5f5f5);
}

/*About*/
.about-section-content {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 4rem;
  img {
    width: 100%;
    border-radius: 24px;
    aspect-ratio: 1 / 1;
  }
}

.about-section-description {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 2000rem;
}

#first-p {
  color: var(--white, #f5f5f5);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.25rem; /* 128.571% */
}

.container-skills {
  display: flex;
  max-width: 30rem;
  flex-direction: column;
  gap: 2.5rem;
  .skills {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-self: stretch;
    .container {
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}

.box-skill {
  display: flex;
  padding: 4px 16px;
  align-items: center;
  gap: 0.5rem;

  border-radius: 100px;
  border: 0.75px solid var(--white, #f5f5f5);
  background: var(--black, #000);
  p {
    color: var(--grey-150);

    /* p-sm */
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
  }
}

/*CONNECTS*/

.section-email {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  .container-title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .container-email {
    display: grid;
    height: auto;
    grid-template-rows: repeat(5, auto);
    padding: 2.5rem;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 1.5rem;
    border: 1px solid var(--grey-850, #262626);
    background: var(--grey-960, #0a0a0a);
    p,
    input {
      color: var(--white, #f5f5f5);
      font-family: "Mango Grotesque";
      font-size: var(--email-font-size);
      font-style: normal;
      font-weight: 200;
      line-height: var(--email-font-size); // 100%
    }
    > * {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    p {
      flex-shrink: 0;
    }
  }
}

.connect-input {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 12px;
  background: var(--grey-850, #262626);
  color: var(--white, #f5f5f5);
  width: 100%;
  &:focus {
    accent-color: var(--primary, #4cda35);
    caret-color: var(--primary, #4cda35);
    border: 1px solid var(--primary, #4cda35);
  }
}

.CTA {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  button {
    max-width: 25rem;
  }
}

/*FAQ*/
.container-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.faq-category {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  padding: 20px 0px;

  border-top: 1px solid var(--grey-850, #262626);
}

.faq-box {
  display: grid;

  grid-template-rows: auto auto;
  gap: 1rem;
  p {
    color: var(--grey-150, #d9d9d9);
  }
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, margin-top 0.3s ease-out;
    p {
      color: var(--grey-500);
    }
  }
  .faq-grid {
    display: grid;
    grid-template-columns: auto 3rem;
    padding: 16px 20px;
    align-items: center;

    border-radius: 12px;
    border: 1px solid var(--grey-150, #d9d9d9);
    label {
      justify-self: end;
    }
    svg {
      justify-content: right;
    }
  }
}

/*FOOTER*/

.email-me {
  display: flex;
  padding: 0 2.5rem 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-grow: 1;
  p {
    /* link */
    color: var(--grey-250, #bfbfbf);
    font-family: "Space Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .green-underline {
    text-decoration-line: underline;
    color: var(--primary, #4cda35);
  }
}

.top {
  display: flex;
  gap: 1rem;
  align-self: stretch;
  .social {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    flex-wrap: wrap;
  }
}

.bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  div {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

#bt-back-to-top {
  display: flex;
  padding: 12px;
  align-items: center;

  border-radius: 150px;
  border: 1px solid var(--white, #f5f5f5);
  background-color: var(--black, #000);
}

#bt-back-to-top svg {
  width: 30px;
  height: 30px;
}

/* checkbox styling */

:root {
  --plusminus: 1.5rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label + .faq-answer {
  max-height: 100px;
}

.plusminus {
  display: block;
  position: relative;
  /*Change to resize the plusminus box*/
  width: 2rem;
  height: 2rem;
  span {
    display: block;
    position: absolute;
    background: #f2f2f2;
    transition: all 0.3s ease;
    &:nth-child(1) {
      height: 8%;
      width: 60%;
      margin: 46% 20%;
    }
    &:nth-child(2) {
      height: 60%;
      width: 8%;
      margin: 20% 46%;
    }
  }
  &:hover span {
    background: var(--primary, #4cda35);
  }
}

label {
  cursor: pointer;
}

/* reveal classes */

.hidden,
.hidden-down,
.hidden-up,
.hidden-left {
  opacity: 0;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-property: opacity, transform;
}

/* Common transform rules based on direction */
.hidden {
  transform: translateX(-30%);
}

.hidden-down {
  transform: translateY(-100%);
}

.hidden-up {
  transform: translateY(100%);
}

.hidden-left {
  transform: translateX(30%);
}

/* Common show class */
.show {
  opacity: 1;
  transform: translate(0, 0); /* Reset transform for all directions */
}

.grey-250 {
  color: var(--grey-250, rgba(191, 191, 191, 1));
}

/* Small devices (mobile) */
@media (max-width: 400px) {
  .custom-underline {
    border-bottom-width: 2px;
  }
  .email-me p {
    font-size: 0.875rem;
  }
  #first-p {
    color: var(--white, #f5f5f5);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem; /* 128.571% */
  }
  .header-container .bt-secondary {
    gap: 8px;
    padding: 4px 4px 4px 12px;
  }
  .header-container .bt-secondary p {
    font-size: 0.875rem;
  }
  .header-container .bt-secondary svg {
    height: 2rem;
    width: 2rem;
  }
  .faq-grid {
    padding: 8px 12px;
    border-radius: 8px;
  }
}

/* breakpoint for tablet only*/
@media (min-width: 401px) and (max-width: 1024px) {
  .custom-underline {
    border-bottom-width: 4px;
  }
}

/* breakpoint for smaller than desktop size */
@media (max-width: 1024px) {
  .container-project {
    flex-direction: column;
    gap: 2.5rem;
  }
  .project-details {
    width: auto;
    order: 2;
  }
  .img-project {
    order: 1;
    padding: 0.5rem;
  }
  .img-project,
  .img-project img {
    border-radius: 1rem;
  }
}

@media (max-width: 768px) {
  .CTA,
  .bt-links {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .CTA button,
  .bt-links > * {
    padding-block: 1.75rem;
    width: 100%;
    max-width: 1000rem;
  }

  .about-section-content {
    display: flex;
    flex-direction: column;
  }
}

/* email section change and faq question */
@media (max-width: 600px) {
  section {
    gap: 3rem;
  }
  .section-hero {
    flex-direction: column;
  }
  .section-hero img {
    max-width: 10rem;
  }
  .section-projects-content {
    gap: 4rem;
  }
  .connect-input {
    border-radius: 8px;
  }
  .container-email {
    padding: 1.5rem;
    border-radius: 1rem;
  }
  .container-email > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .faq-category {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .top {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .top .social {
    justify-content: flex-start;
  }
  .top button {
    justify-content: flex-start;
  }
  .bot div {
    flex-direction: column;
  }
  #bt-back-to-top {
    flex-basis: auto;
  }
}
@media (min-width: 1024px) {
  #green-box-hero {
    h5 {
      font-size: 2.25rem;
      line-height: 2.25rem;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ff1a;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 10000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  cursor: pointer;
}
